---
http_interactions:
- request:
    method: get
    uri: https://api.cordial.io/v1/orders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NWFjMmEwMzI0ZThiNjYwYTUzOGI0NTY4LVBPdDRiUWdPRWdPMnBQc2dYSjhRd1JRMVhxTzNnQVZZOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"orderID":"1","purchaseDate":"2015-01-10T01:47:43+0000","items":[{"productID":"1","sku":"123","name":"Test
        product","attr":{"color":"blue","size":"L"},"amount":0}],"cID":"5aea409bbb3dc2f9bc27158f","totalAmount":0},{"orderID":"2","purchaseDate":"2015-01-10T01:47:43+0000","items":[{"productID":"1","sku":"123","name":"Test
        product","attr":{"color":"blue","size":"L"},"amount":0}],"cID":"5aea409bbb3dc2f9bc27158f","totalAmount":0},{"orderID":"R514186486","purchaseDate":"2018-07-02T21:31:48+0000","items":[{"productID":"128","name":"Women''s
        Boyshort","sku":"W400-GY-S","attr":{"color":"Grey","size":"S"},"amount":0},{"productID":"148","name":"Men''s
        Boxer","sku":"M900-PHZ-M","attr":{"col[...]
