---
http_interactions:
- request:
    method: post
    uri: https://api.cordial.io/v1/automationtemplates
    body:
      encoding: UTF-8
      string: '{"key":"promo2018","name":"Promo 2018","channel":"email","classification":"promotional","baseAggregation":"hourly","message":{"headers":{"subject":"One
        Day Only Sale","fromEmail":"info@example.com","replyEmail":"info@example.com","fromDesc":"Promotions
        Team"},"content":{"text/html":"<div>Hello World</div>"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NWFjMmEwMzI0ZThiNjYwYTUzOGI0NTY4LVBPdDRiUWdPRWdPMnBQc2dYSjhRd1JRMVhxTzNnQVZZOg==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"record created"}'
  recorded_at: Tue, 04 Sep 2018 17:26:08 GMT
recorded_with: VCR 4.0.0
