---
http_interactions:
- request:
    method: get
    uri: https://api.cordial.io/v1/contacts/cordial@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NWFjMmEwMzI0ZThiNjYwYTUzOGI0NTY4LVBPdDRiUWdPRWdPMnBQc2dYSjhRd1JRMVhxTzNnQVZZOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id":"5b69e5bc737953ab86decbe5","channels":{"email":{"address":"cordial@example.com","subscribeStatus":"unsubscribed","unsubscribedAt":"2018-08-07T18:47:35+0000"}},"lastModified":"2018-08-07T18:47:35+0000","createdAt":"2018-08-07T18:32:28+0000"}'
  recorded_at: Wed, 08 Aug 2018 20:46:14 GMT
recorded_with: VCR 4.0.0
