---
http_interactions:
- request:
    method: get
    uri: https://api.cordial.io/v1/contactactivities?email=super-random-email-address@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NWFjMmEwMzI0ZThiNjYwYTUzOGI0NTY4LVBPdDRiUWdPRWdPMnBQc2dYSjhRd1JRMVhxTzNnQVZZOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"cID":"5d2c816317295b2bb952c396","_id":"5d2c8524c22c29b43652e5ed","action":"cart","time":"2019-07-15T13:52:36+0000","email":"super-random-email-address@example.com"},{"cID":"5d2c816317295b2bb952c396","_id":"5d2c858fb125a94060e337d1","action":"cart","time":"2019-07-15T13:54:23+0000","email":"super-random-email-address@example.com"},{"cID":"5d2c816317295b2bb952c396","_id":"5d2c859d895e2b653b01a468","action":"cart","time":"2019-07-15T13:54:37+0000","email":"super-random-email-address@example.com"},{"cID":"5d2c816317295b2bb952c396","_id":"5d2c85a84daf4ee448b8a661","action":"order","time":"2019-07-15T13:54:48+0000","email[...]
