---
http_interactions:
- request:
    method: get
    uri: https://api.cordial.io/v1/orders?page=2&per_page=4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NWFjMmEwMzI0ZThiNjYwYTUzOGI0NTY4LVBPdDRiUWdPRWdPMnBQc2dYSjhRd1JRMVhxTzNnQVZZOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"orderID":"R032173404","purchaseDate":"2018-06-18T16:38:07+0000","items":[{"productID":"17","name":"Women''s
        Cheeky Brief","sku":"W200-SMS-L","attr":{"color":"Summer Slice","size":"L"},"amount":0}],"cID":"5b0ef508e1dc0fa0c8eedbb9","totalAmount":0},{"orderID":"R377836613","purchaseDate":"2018-07-11T17:43:10+0000","items":[{"productID":"123","name":"Women''s
        Bikini","sku":"W300-BL-S","attr":{"color":"Black","size":"S"},"amount":0},{"productID":"14","name":"Men''s
        Trunk","sku":"M700-DS-M","attr":{"color":"Dark Sapphire","size":"M"},"amount":0}],"cID":"5b3e81c9e1dc0fa0c89839c8","totalAmount":0},{"orderID":"A148174458","purchaseDate":"2018-07-13T09:30:43+0000","items":[{"productID":"14","name":"Men''s
        Trunk","sku":"M700-CYC-M","attr":{"color":"Love Stripes","size":"M"},"amount":0},{"productID":"17","name":"Women''s
        Cheeky Brief","sku":"W200-CYC-M","attr":{"color":"Love Stripes","size":"M"},"amount":0},{"productID":"13","name":"Men''s
        Boxer Brief","sku":"M600-CYC-XL","attr":{"color":"Love Stripes","size":"XL"},"amount":0}],"cID":"5af8063bbb3dc2f9bc183c05","totalAmount":0},{"orderID":"33451","purchaseDate":"2018-07-02T20:19:00+0000","items":[{"productID":"1","sku":"123","name":"Test
        Product 1","attr":{"color":"blue","size":"L"},"amount":0}],"cID":"5b69e5bc737953ab86decbe5","totalAmount":0}]'
  recorded_at: Wed, 03 Oct 2018 06:07:28 GMT
recorded_with: VCR 4.0.0
