---
http_interactions:
- request:
    method: get
    uri: https://api.cordial.io/v1/products/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NWFjMmEwMzI0ZThiNjYwYTUzOGI0NTY4LVBPdDRiUWdPRWdPMnBQc2dYSjhRd1JRMVhxTzNnQVZZOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id":"5b28275fe1dc0fa0c872abec","productID":"1","productName":"Test
        product","price":100,"variants":[{"sku":"skirt0912","attr":{"color":"blue","size":"8"},"qty":"10"},{"sku":"skirt0913","attr":{"color":"red","size":"6"},"qty":"9"}],"accountID":645,"totalQty":2,"lm":"2018-08-08T22:12:36+0000","ct":"2018-06-18T21:42:55+0000"}'
  recorded_at: Wed, 08 Aug 2018 22:16:38 GMT
recorded_with: VCR 4.0.0
