---
http_interactions:
- request:
    method: post
    uri: https://api.cordial.io/v1/automationtemplates//send
    body:
      encoding: UTF-8
      string: '{"to":{"contact":{"email":"info@example.com"},"extVars":{"order":{"number":"R123456789"}}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NWFjMmEwMzI0ZThiNjYwYTUzOGI0NTY4LVBPdDRiUWdPRWdPMnBQc2dYSjhRd1JRMVhxTzNnQVZZOg==
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"''\/v1\/automationtemplates\/\/send'' is not found."}'
  recorded_at: Fri, 07 Sep 2018 23:23:02 GMT
recorded_with: VCR 4.0.0
