---
http_interactions:
- request:
    method: post
    uri: https://api.cordial.io/v1/contacts
    body:
      encoding: UTF-8
      string: '{"channels":{"email":{"address":"cordial@example.com"}},"First_Name":"Cordial"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NWFjMmEwMzI0ZThiNjYwYTUzOGI0NTY4LVBPdDRiUWdPRWdPMnBQc2dYSjhRd1JRMVhxTzNnQVZZOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"contact updated","cID":"5b69e5bc737953ab86decbe5"}'
  recorded_at: Wed, 08 Aug 2018 20:55:39 GMT
recorded_with: VCR 4.0.0
