---
http_interactions:
- request:
    method: put
    uri: https://api.cordial.io/v1/contacts/email:cordial@example.com
    body:
      encoding: UTF-8
      string: '{"channels":{"email":{"address":"cordial@example.com"}},"first_name":"Cordial"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NWFjMmEwMzI0ZThiNjYwYTUzOGI0NTY4LVBPdDRiUWdPRWdPMnBQc2dYSjhRd1JRMVhxTzNnQVZZOg==
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"messages":{"validationErrors":{"first_name":["key first_name
        is not part of the schema for this resource"]}}}'
  recorded_at: Wed, 08 Aug 2018 20:51:10 GMT
recorded_with: VCR 4.0.0
