---
http_interactions:
- request:
    method: post
    uri: https://api.cordial.io/v1/products
    body:
      encoding: UTF-8
      string: '{"productID":1,"productName":"Test product","price":100,"variants":[{"sku":"skirt0912","attr":{"color":"blue","size":"8"}},{"sku":"skirt0913","attr":{"color":"red","size":"6"}}],"inStock":true,"properties":{"test_metadata_1":"test
        metadata","test_metadata_2":"test metadata"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NWFjMmEwMzI0ZThiNjYwYTUzOGI0NTY4LVBPdDRiUWdPRWdPMnBQc2dYSjhRd1JRMVhxTzNnQVZZOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"product updated"}'
  recorded_at: Wed, 29 Aug 2018 20:21:50 GMT
recorded_with: VCR 4.0.0
