---
http_interactions:
- request:
    method: put
    uri: https://api.cordial.io/v1/contacts/cordial@example.com
    body:
      encoding: UTF-8
      string: '{"channels":{"email":{"address":"cordial@example.com","subscribeStatus":"unsubscribed"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NWFjMmEwMzI0ZThiNjYwYTUzOGI0NTY4LVBPdDRiUWdPRWdPMnBQc2dYSjhRd1JRMVhxTzNnQVZZOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 13 Aug 2018 23:20:15 GMT
recorded_with: VCR 4.0.0
