---
http_interactions:
- request:
    method: get
    uri: https://api.cordial.io/v1/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NWFjMmEwMzI0ZThiNjYwYTUzOGI0NTY4LVBPdDRiUWdPRWdPMnBQc2dYSjhRd1JRMVhxTzNnQVZZOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"_id":"5b88227573795xxxxxxxxbc1","productID":"99","accountID":645,"productName":"Men''s
        TEST1","price":0,"variants":[{"sku":"FAKE-OGC-XL","attr":{"color":"OG Camo","size":"XL"},"qty":"1"},{"sku":"FAKE-SLP-XL","attr":{"color":"Snow
        Leopard","size":"XL"},"qty":"1"},{"sku":"FAKE-OGC-M","attr":{"color":"OG Camo","size":"M"},"qty":"1"},{"sku":"FAKE-WTM-L","attr":{"color":"Winter
        Moss","size":"L"},"qty":"1"},{"sku":"FAKE-CYC-XXL","attr":{"color":"Love Stripes","size":"2XL"},"qty":"1"},{"sku":"FAKE-TWL-M","attr":{"color":"Twilight
        Navy","size":"M"},"qty":"1"},{"sku":"FAKE-DS-M","attr":{"color":"Dark Sapphire","size":"M"},"qty":"1"}],"totalQty":7,"lm":"2018-09-06T20:27:59+0000","ct":"2018-08-30T16:59:33+0000"},{"_id":"xxxxxxxxxxx953ab867d3bc1","productID":"99","accountID":645,"productName":"Men''s
        TEST2","price":0,"variants":[{"sku":"FAKE-OGC-XL","attr":{"color":"OG Camo","size":"XL"},"qty":"1"},{"sku":"FAKE-SLP-XL","attr":{"color":"Snow
        Leopard","size":"XL"},"qty":"1"},{"sku":"FAKE-OGC-M","attr":{"color":"OG Camo","size":"M"},"qty":"1"},{"sku":"FAKE-WTM-L","attr":{"color":"Winter
        Moss","size":"L"},"qty":"1"},{"sku":"FAKE-CYC-XXL","attr":{"color":"Love Stripes","size":"2XL"},"qty":"1"},{"sku":"FAKE-TWL-M","attr":{"color":"Twilight
        Navy","size":"M"},"qty":"1"},{"sku":"FAKE-DS-M","attr":{"color":"Dark Sapphire","size":"M"},"qty":"1"}],"totalQty":7,"lm":"2018-09-06T20:27:59+0000","ct":"2018-08-30T16:59:33+0000"}]'
  recorded_at: Mon, 01 Oct 2018 23:22:26 GMT
recorded_with: VCR 4.0.0
