---
http_interactions:
- request:
    method: post
    uri: https://api.cordial.io/v1/orders
    body:
      encoding: UTF-8
      string: '{"orderID":"9999","email":"cordial@example.com","purchaseDate":"2018-07-02
        13:19:00","items":[{"productID":"1","sku":"123","name":"Test Product 1","attr":{"color":"blue","size":"L"}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NWFjMmEwMzI0ZThiNjYwYTUzOGI0NTY4LVBPdDRiUWdPRWdPMnBQc2dYSjhRd1JRMVhxTzNnQVZZOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Tue, 07 Aug 2018 18:41:58 GMT
recorded_with: VCR 4.0.0
