---
http_interactions:
- request:
    method: post
    uri: https://api.cordial.io/v1/contacts/cordial@example.com/cart
    body:
      encoding: UTF-8
      string: '{"customerID":"cordial@example.com","cartID":"10000","cartitems":[{"productID":"1","sku":"123","name":"Test
        Product 1","category":"Test Category","attr":{"color":"blue","size":"L"}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NWFjMmEwMzI0ZThiNjYwYTUzOGI0NTY4LVBPdDRiUWdPRWdPMnBQc2dYSjhRd1JRMVhxTzNnQVZZOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Tue, 16 Jul 2019 14:35:20 GMT
recorded_with: VCR 4.0.0
