---
http_interactions:
- request:
    method: post
    uri: https://api.cordial.io/v1/contactactivities
    body:
      encoding: UTF-8
      string: '{"email":"super-random-email-address@example.com","a":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NWFjMmEwMzI0ZThiNjYwYTUzOGI0NTY4LVBPdDRiUWdPRWdPMnBQc2dYSjhRd1JRMVhxTzNnQVZZOg==
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"messages":{"validationErrors":{"a":["The a field is
        required."]}}}'
  recorded_at: Mon, 15 Jul 2019 14:46:37 GMT
recorded_with: VCR 4.0.0
